:root{
  --primary:#1494e4;
  --secundary:#1494e4;
  --ter:#2e9de2;
}

.logo{
  width: 75px;
  height: 75px;
}

.logo2{
  max-height: 50px;
}

body, html{
  margin: 0;
}

.margin6{
  padding-left: 6em;
  padding-right: 6em;
}

/* #textoHome{
  text-align: center;
} */

@media (max-width: 768px) {
  .margin6{
    margin-left: 1em;
    margin-right: 1em;
  }
  #textoHome{
    background-color: rgba(255, 255, 255, 0.801);
  }
  #home{
    justify-content: end !important;
  }

  
  .ulSkills{
    padding-left: 0%;
  }

}

#home{
  background: linear-gradient(0deg, rgb(255, 255, 255) 5%, rgba(33,36,126,0) 24%), url("../media/imagen2.jpg");
  background-size: cover;
  position: relative;
  height: 50vh;
  background-position: 0%;
  background-position-x: 80%;

}

.textoAbout{
  font-size: 1.2em;
}

html, body {
  scroll-behavior: smooth;
}

#topnav{
  margin-left: 0%;
  width: 100%;
  padding-left: 6em;
  padding-right: 6em;
  border-bottom: 3px rgb(184, 184, 184) solid;
  justify-content: center;
}

.navbar-nav .nav-item .nav-link.active {
  color: #1494e4 !important;
}

.navbar-light .navbar-nav .nav-link{
  transition: 0.5s;
  font-size: larger;
}

.pri{
  background: linear-gradient(30deg, rgb(26, 146, 144) 0%, rgba(25,79,146,1) 29%, rgba(33,36,126,1) 62%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.sec{
  color: var(--secundary);
}

.ter{
  color: var(--ter);
}


.progress{
  background-color: #c0c3c7 !important;
  margin-bottom: 3%;
}

.pieDePag{
  background-color: #cbcfd1;
  width: 100% !important;
  min-height: 10vh;
  padding: 2%;
  margin-top: 3em;
}


#ulSkills{

}