body {background: rgb(240,212,185);
    background: linear-gradient(315deg, rgba(240,212,185,1) 0%, rgba(215,239,240,1) 37%);
    background-attachment:fixed;
    height:100%;
}

p {
    text-indent: 1em;
    text-align: left;
    text-align: justify;
    text-justify: inter-word;
 
    }

#parrafo {  width: 320px;
    padding: 10px;
    border: 5px solid rgba(253, 139, 45, 0.692);
    width: 78.2%;
    background-color: rgba(239, 242, 245, 0.863);
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;
}

#parrafo2 {  width: 320px;
    padding: 10px;
    border: 5px solid rgba(253, 139, 45, 0.692);
    width: 95%;
    background-color: rgba(239, 242, 245, 0.863);
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;
}
h1 {
    color: #e4dcdc;
    background-color: #0e0d0ed8;
    width: 7%;
    margin: auto;
    text-align: center;
}

#dados {
  color: #e4dcdc;
  background-color: #0e0d0ed8;
  width: 7%;
  margin: a;
  text-align: center;

}
h2 {
    text-align: center;
    color: #303131;
    }


#home {
    color: black;
    font-size:50px;
    width: 100%;
    background:#83889bc5;
    padding: 10px;

}

#home li {
    padding: 6.1%;
    display: inline;
}



#home li a:hover{
    background-color: rgba(253, 139, 45, 0.692);
    color: rgba(41, 42, 46, 0.847);
}

#nombre {
    text-align: center;
    background-color: black;
    color: aliceblue;
    position: relative;
    bottom: 0;
    width: 100%;

}

#nombre2 {
  text-align: center;
  background-color: black;
  color: aliceblue;
  position: relative;
  bottom: -150px;
  width: 1570px;
}

a:link {
    color: rgb(56, 56, 51);
  }

a:visited {
    color: rgb(56, 56, 51);
  }


  .topnav {
    background-color: #333;
    overflow: hidden;
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #db7941;
    color: white;
  }  

/* topnav 2 */


.topnav2 {
  background-color: rgb(80, 76, 76);
  overflow: hidden;
}

.topnav2 a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav2 a:hover {
  background-color: #ddd;
  color: black;
}

.topnav2 a.active {
  background-color: #db7941;
  color: white;
}  



  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }


/* CAJA DE LOS DADOS */

#caja1 {
  background-color: #db7941;
  
}

.gradient_border {

  padding: 10px 20px;
  border-left: 6px solid;
  background: transparent;
  border-image: linear-gradient(0deg, #000000, #272527d8) 1;

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
}

.boton {
  width: 30%;
  background-color: #404444; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  transition-duration: 0.4s;
  width: 49%;
  margin: 12px 0;
}

.boton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: rgb(243, 146, 66);
}

.boton:active {
  color: #ddd;
  background-color: #66a868;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.cajaResultado1 {
  animation-duration: 0.2s;
  width: 100%;
  color: #201107;
  background-color: #ffffff;
  text-align: center;
  margin: 12px 0;
  border-radius: 12px;
  font-size: 40px;
}


