@font-face {
    font-family: Pixel;
    src: url(mediaCSS/dogicapixel.ttf);
  }

body {
    background-color: rgb(96, 92, 97);
}

div {
    font-family: Pixel;
    text-align: justify;
    color: rgb(219, 218, 214);
    line-height: 1.6;
    font-size: 12px;
    
    display: block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
