@font-face {
    font-family: Pixel;
    src: url(mediaCSS/dogicapixel.ttf);
  }

body {
    background-color: rgb(15, 17, 32);

}

div {

    user-select: none;
    display: flexbox;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    
}

.map{
    border: 10px solid #e7dfba;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.texto   {
    
    position: absolute  ;
    bottom: 20%;
    left: 100px;

    max-width: 780px;
    background-image: url(mediaCSS/fondotexto.png);
    background-size: cover;
    padding: 0.5%;
    border-width: 5px;
    border-style: solid;
    border-color: #ebdd9e;
    animation: fadeIn 1.5s;

}

.texto p {

    font-family: Pixel;
    text-align: justify;
    color: rgb(219, 218, 214);
    line-height: 1.6;
    font-size: 15px;
}

#fondo {
    position: absolute;
    margin: auto;
    size: 30%;
}

#lanzador {

    background: rgb(129,115,59);
    background: linear-gradient(355deg, rgb(109, 96, 43) 0%, rgb(151, 128, 63) 100%);
    border: 10px solid #e7dfba;

    position: fixed;
    right: -400px;
    top: 200px;
    width: 300px;

    line-height: 5;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;

}

#lanzador input{
    
 
    font-family: Pixel;
    text-align: center;
    color: rgb(219, 218, 214);
    line-height: 3;
    font-size: 12px;
    background-color: #0E2B46;
    padding-inline: fill;
    width: 60%;

}

#lanzador .button {
    background-color: #07192b;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:active {

    color: rgb(109, 17, 17);
    box-shadow: 0 5px #0E2B46;
    transform: translateY(4px);
    transition-duration: 0.1s;
}

#principal {

    float: left;

}

.divg{

    margin:auto;
    
}

body {

    overflow: hidden; /* Hide scrollbars */
  
}

body {

    transform: scale(0.75);
    position: absolute;
    top: -8%;
    right: 30%;

}

#maindiv {

    position: relative;

}