
/* Posicionamiento y tal */

html {
    font-family: lowP;
    height: 100%;
}
body {
    height: 100vh;
}

#titulo{

    float: left;
    top: 0%;
    left: 0%;
    width: 98%;
    margin: auto;
    text-align: center;
    font-size: 1.3vw;
    min-height: fit-content;
    font-size: 1.3vw;
}


/* DATOS */
#divDatos{

    float: left;
    width: 17%;
    font-size: 1vh;

}

#datos{

    float: left;
    top: 1%;

}

#features{

    max-width: fit-content;
    font-size: 1.3vw;

}


/* TABLERO */
#divTablero{

    float: left;
    width: 60%;
    height: 85%;

}

#tablero{


    position: relative;
    left: 50%;
    top: 40%;

}

/* OPCIONES */

#divOpciones{

    float: left;
    width: 17%;
    font-size: 1vh;

}

#datosOpciones{

    float: left;
    top: 1%;
    font-size: 3vh;

}




/* Ahora a hacer la páginna bonita */

@font-face {
    font-family: lowP;
    src: url(mediaCSS/Polygon-Regular.otf);
}

html{

    background-image: url(mediaCSS/lowpoly.png)

}

#titulo{

    letter-spacing: 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(34, 16, 16, 0.432);
    padding: 1%;

}

#divDatos{

    background-color: rgba(231, 223, 223, 0.267);
    padding-left: 1%;
    font-size: 25px;
    padding: 1%;

}

#divOpciones{

    background-color: rgba(97, 96, 96, 0.267);
    padding-left: 1%;
    font-size: 25px;
    padding: 1%;

}

.boton{

    font-family: lowP;
    font-size: 25px;
    padding: 4%;
    transition: 0.5s;

}

.boton:hover{

    scale: 1.2;
    background-color: aliceblue;
    border: 0cm;

}

.boton:active{

    scale: 1;
    transition: 0.2s;
    background-color: rgb(148, 148, 148);
}

.numero{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 60px;
    background-color: azure;
    border: 0ch;

}


/* El tema de las fichas */


.pieza:active{

    transition: 0.1s;
    scale: 1.2;
    cursor: pointer;

}

